body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.logoconteiner {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.titulonav {
  padding: 20px;
  margin: 0px;
  font-size: 2.25rem;
  color: #ec9797;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -3px -2px 0 rgb(49, 18, 18);
}
.titulonav:hover {
  font-size: 1.875rem;
  color: rgba(250, 72, 72, 0.986);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: linear-gradient(#8a2f3c, #610d26);
  overflow: hidden;
  border-bottom: 1.5px solid rgb(71, 11, 11);
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(29, 10, 10, 0.404);
}

nav:hover {
  background: linear-gradient(#851d3c, #330612);
}

nav a {
  background-color: transparent;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(226, 226, 226, 0.945);
  font-size: 1rem;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  margin: 15px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  top: 8%;
  left: 75%;
  background-color: #610d26;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover ul {
  display: block;
}
#index {
  padding: 50px 20px;
  margin: 0;
  margin-left: auto;
}

#index:hover {
  font-size: 1.125rem;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.nav li :hover > ul {
  display: block;
}

nav li a:hover {
  background-color: #2b24245d;
  color: rgba(250, 72, 72, 0.986);
  border-radius: 8px;
}
.nav .submenu {
  background-color: transparent;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

img {
  margin: 0px;
  height: 50px;
  width: auto;
  text-align: left;
  padding: 20px;
}
img:hover {
  height: 70px;
  padding: 0px;
  border: none;
  background-color: transparent;
}
#inicioVista {
  width: 100%; /* Ancho del slider */
  height: 100vw; /* Altura del slider */
  overflow: hidden;
  margin: auto;
  border: 2px solid #ccc;
}

#inicioVista img {
  width: 100%;
  height: 100%;
  display: none;
  animation: slide 10s infinite ease-in-out;
}

#inicioVista img.active {
  display: block;

}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(185, 22, 22);
  font-size: 70px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.slide-title {
  /* Ocultamos el título por defecto */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#inicioVista img.active + .slide-title {
  display: block;
}
  @keyframes slide {
    0% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }

    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }

