body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.logoconteiner {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.titulonav {
  padding: 20px;
  margin: 0px;
  font-size: 2.25rem;
  color: #ec9797;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -3px -2px 0 rgb(49, 18, 18);
}
.titulonav:hover {
  font-size: 1.875rem;
  color: rgba(250, 72, 72, 0.986);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: transparent;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(29, 10, 10, 0.404);
}

nav:hover {
  background: linear-gradient(#851d3c, #330612);
}

nav a {
  background-color: transparent;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(226, 226, 226, 0.945);
  font-size: 1rem;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  margin: 15px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
#index {
  padding: 50px 20px;
  margin: 0;
  margin-left: auto;
}

#index:hover {
  font-size: 1.125rem;
}

nav a:hover {
  background-color: #2b24245d;
  color: rgba(250, 72, 72, 0.986);
  border-radius: 8px;
}

nav.scrolled {
  background: linear-gradient(#851d3cda, #330612fb);
  height: 5%;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

.logoconteiner img {
  margin: 0px;
  height: 50px;
  width: auto;
  text-align: left;
  padding: 20px;
}
.logoconteiner img:hover {
  height: 70px;
  padding: 0px;
  border: none;
  background-color: transparent;
}
#inicioVista {
  width: 100%; /* Ancho del slider */
  height: 100vw; /* Altura del slider */
  overflow: hidden;
  margin: auto;
  border: 2px solid #ccc;
}

#inicioVista img {
  width: 100%;
  height: 100%;
  display: none;
}

#inicioVista img.active {
  display: block;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(185, 22, 22);
  font-size: 70px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}
.slide-title {
  /* Ocultamos el título por defecto */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#inicioVista img.active + .slide-title {
  /* Mostramos el título solo cuando la imagen está activa */
  display: block;
}
