body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #111;
  background-color: #fafafa;
  line-height: 1.6;
  height: auto;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1.5px;
}

.logoconteiner {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.titulonav {
  padding: 20px;
  margin: 0;
  font-size: 2.25rem;
  color: #ec9797;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -3px -2px 0 rgb(49, 18, 18);
}

.titulonav:hover {
  font-size: 1.875rem;
  color: rgba(250, 72, 72, 0.986);
}

nav {
  position: fixed;

  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: linear-gradient(#8a2f3c, #610d26);
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(29, 10, 10, 0.404);
  z-index: 1;
}

nav:hover {
  background: linear-gradient(#851d3c, #330612);
}

nav a {
  background-color: transparent;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(226, 226, 226, 0.945);
  font-size: 1rem;
  text-align: center;
  padding: 0;
  text-decoration: none;
  margin: 15px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

nav.scrolled {
  background: linear-gradient(#851d3cda, #330612fb);
  height: 5%;
}

#index {
  padding: 50px 20px;
  margin: 0;
  margin-left: auto;
}

#index:hover {
  font-size: 1.125rem;
}

nav a:hover {
  background-color: #2b24245d;
  color: rgba(250, 72, 72, 0.986);
  border-radius: 8px;
}

.nav li ul {
  display: none;
  position: fixed;
  min-width: 140px;
  top: 7%;
  left: 85%;
  background-color: #610d26;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover ul {
  display: block;
}

.nav .submenu {
  background-color: transparent;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

.logoconteiner img {
  margin: 0;
  height: 50px;
  width: auto;
  text-align: left;
  padding: 20px;
}

.logoconteiner img:hover {
  height: 70px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.primeraVista {
  width: 100%;
  height: 100vh;
  background: url("imagenes/masc-fondo.jpeg") no-repeat center/cover;
  border-image: fill 0 linear-gradient(#0001, #000000d0);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  color: white;
  text-align: center;
  background-attachment: fixed;
}

.primeraVista h1 {
  font-size: 3rem;
  margin: 20px 0;
  text-shadow: -6px 0px rgb(53, 45, 45);
  color: #ebebeb;
  padding-top: 100px;
}

.logoVista img {
  width: 200px;
  box-shadow: 0px 0px 15px rgba(226, 226, 226, 0.637);
  border-radius: 8%;
  opacity: 80%;
  margin-top: 300px;
}

.slider-box {
  width: 100%;
  overflow: hidden; /* Oculta el contenido que desborda */
  margin: 50px auto 0;
  position: relative; /* Necesario para la posición de los elementos internos */
}

.slider-box ul {
  display: flex;
  transition: transform 0.5s ease; /* Transición suave para el cambio de imagen */
  padding: 0; /* Quitar padding */
  margin: 0; /* Quitar margin */
}

.slider-box li {
  flex: 0 0 33.33%; /* Cada imagen ocupa un tercio del ancho */
  list-style: none;
  padding: 0 10px; /* Espacio entre las imágenes */
}

.slider-box img {
  width: 100%; /* Las imágenes llenan el contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  border-radius: 5px; /* Opción para redondear esquinas */
}

.fixture img:hover {
  height: 40vw;
  width: 40vw;
  padding: 0px 0px;
  cursor: url("imagenes/cursor\ \(1\).png"), auto;
  transition: 1.5s ease all;
  border: 9px solid rgb(204, 30, 30);
  box-shadow: 0 0 10px red;
}
#tituloSecciones,
.columna h3 {
  border-bottom: solid 2px #851d3c;
  width: 100%;
  color: #350d19;
  font-size: 1rem;
}
#sobreNosotros,
#noticias,
#categorias {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 7%;
  margin: 10px;
}
#noticias {
  background: #1d1d1d;
  border-radius: 10px 60px 30px;
}
#tituloSecciones {
  color: #272727;
}
#sobreNosotros img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.columnasContenido {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.columna {
  flex: 1;
  padding: 0 10px;
}

.columna p {
  font-size: 1rem;
  line-height: 1.5;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  z-index: 2;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

@media (max-width: 991px) {
  nav {
    height: 10%;
    width: 100%;
  }

  .nav li ul {
    display: none;
    position: fixed;
    min-width: 140px;
    top: 11%;
    left: 70%;
    background-color: #610d26;
    padding: 10px;
    margin: 0;
  }
}
