body {
  font-family: sans-serif;
  color: #ddd;
  background: linear-gradient(#8a2f3c, #161515);
  height: auto;
  margin: 0;
  /*(#222, #8a2f3c);*/
  /*background-color:#222;*/
}
form {
  padding: 20px 35px;
  width: 50%;
  height: auto;
  margin: auto;
  box-shadow: 0px 0px 55px #fff2;
  margin-top: 4%;
  border-radius: 8px;
  font-size: 0.5rem;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

h2:hover {
  text-decoration: underline rgb(218, 208, 210);
  color: #d1d1d1;
}

h2 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10x;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 0.5px;
  padding: 10px;
  color: #bebebe;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  word-wrap: break-word;
  text-shadow: -2px -0px 0 rgb(49, 18, 18);
}

input,
button,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  border: none;
  border-bottom: 1px solid #666;

  box-shadow: 0px 0px 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #ddd;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 1.5rem;
}

input:hover {
  background-color: #5f101b;
  border-color: #ddd;
}
select:hover {
  background-color: #5f101b;
  border-color: #ddd;
}
textarea:hover {
  background-color: #631923;
  border-color: #ddd;
}
label {
  color: #c7c7c7;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;
}

button {
  width: 40%;
  margin: auto;
  background-color: #8a2f3d5d;
  color: #ddd;
  cursor: pointer;
  font-size: 3em;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20%;
  margin-top: 15%;
}
button:hover {
  background-color: #c42d3a;
}

textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
}
option {
  background-color: #63192398;
  padding: 10px;
}
.logoconteiner {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.titulonav {
  padding: 20px;
  margin: 0px;
  font-size: 2.25rem;
  color: #ec9797;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -3px -2px 0 rgb(49, 18, 18);
}
.titulonav:hover {
  font-size: 1.875rem;
  color: rgba(250, 72, 72, 0.986);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: linear-gradient(#8a2f3c, #610d26);
  overflow: hidden;
  border-bottom: 1.5px solid rgb(71, 11, 11);
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(29, 10, 10, 0.404);
}

nav:hover {
  background: linear-gradient(#851d3c, #330612);
}

nav a {
  background-color: transparent;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(226, 226, 226, 0.945);
  font-size: 1rem;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  margin: 15px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  top: 8%;
  left: 75%;
  background-color: #610d26;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover ul {
  display: block;
}
#index {
  padding: 50px 20px;
  margin: 0;
  margin-left: auto;
}

#index:hover {
  font-size: 1.125rem;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.nav li :hover > ul {
  display: block;
}

nav li a:hover {
  background-color: #2b24245d;
  color: rgba(250, 72, 72, 0.986);
  border-radius: 8px;
}
.nav .submenu {
  background-color: transparent;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

img {
  margin: 0px;
  height: 50px;
  width: auto;
  text-align: left;
  padding: 20px;
}
img:hover {
  height: 70px;
  padding: 0px;
  border: none;
  background-color: transparent;
}
.feedback {
  margin-top: 20px;
  font-size: 1.3rem;
  color: #968e8e;
  background-color: #24292e;
  border-left: 4px solid #570d17;
  border-radius: 10px;
  padding: 10px;
}
.feedback-list {
  margin-top: 10px;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    font-size: 0.875rem;
    padding: 20px;
  }

  button {
    width: 80%;
    font-size: 1.5em;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  nav a {
    font-size: 14px;
    margin: 10px 0;
  }

  h2 {
    font-size: 2.2em;
  }

  img {
    height: 40px;
  }
}
