body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  color: #111;
  background-color: #fafafa;
  line-height: 1.6;
  height: auto;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1.5px;
}

.logoconteiner {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.titulonav {
  padding: 20px;
  margin: 0px;
  font-size: 2.25rem;
  color: #ec9797;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -3px -2px 0 rgb(49, 18, 18);
}
.titulonav:hover {
  font-size: 1.875rem;
  color: rgba(250, 72, 72, 0.986);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: transparent;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(29, 10, 10, 0.404);
}

nav:hover {
  background: linear-gradient(#851d3c, #330612);
}

nav a {
  background-color: transparent;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(226, 226, 226, 0.945);
  font-size: 1rem;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  margin: 15px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
nav.scrolled {
  background: linear-gradient(#851d3cda, #330612fb);
  height: 5%;
}
#index {
  padding: 50px 20px;
  margin: 0;
  margin-left: auto;
}

#index:hover {
  font-size: 1.125rem;
}

nav a:hover {
  background-color: #2b24245d;
  color: rgba(250, 72, 72, 0.986);
  border-radius: 8px;
}

.nav li ul {
  display: none;
  position: fixed;
  min-width: 140px;
  top: 7%;
  left: 85%;
  background-color: #610d26;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover ul {
  display: block;
}
.nav .submenu {
  background-color: transparent;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
}

.logoconteiner img {
  margin: 0px;
  height: 50px;
  width: auto;
  text-align: left;
  padding: 20px;
}
.logoconteiner img:hover {
  height: 70px;
  padding: 0px;
  border: none;
  background-color: transparent;
}
.primeraVista {
  width: 100%;
  height: 100vh;
  background: url("imagenes/polideportivoimg.jpg") no-repeat center/cover;
  border-image: fill 0 linear-gradient(#0001, #000000d0); /*gradiente para la imagen*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;
  text-align: center;
  background-attachment: fixed;
}

.logoVista img {
  width: 250px;
  box-shadow: 0px 0px 25px rgba(226, 226, 226, 0.637);
  border-radius: 8%;
}

.primeraVista h1 {
  font-size: 3rem;
  margin: 20px 0;
  text-shadow: -6px 0px rgb(53, 45, 45);
  color: #ebebeb;
}
/*
#inicioVista {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
}

#inicioVista img {
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  margin: 0;
  padding: 0;
}

#inicioVista img.active {
  display: block;
  opacity: 1;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(185, 22, 22);
  font-size: 70px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.slide-title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#inicioVista img.active + .slide-title {
  display: block;
}
*/
.scroll {
  position: absolute;
  bottom: 20px;
  font-size: 2rem;
  animation: bounce 1s infinite;
}
#tituloSecciones,
.columna h3 {
  border-bottom: solid 2px #851d3c;
  width: 100%;
  color: #350d19;
  font-size: 1rem;
}
#sobreNosotros,
#noticias,
#categorias {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 7%;
  margin: 10px;
}
#noticias {
  background: #1d1d1d;
  border-radius: 10px 60px 30px;
}
#tituloSecciones {
  color: #272727;
}
#sobreNosotros img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.columnasContenido {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.columna {
  flex: 1;
  padding: 0 10px;
}

.columna p {
  font-size: 1rem;
  line-height: 1.5;
}

.portada {
  border: 1px solid rgba(61, 6, 6, 0.562);
  width: 100%;
  height: 15vw;
  background-image: url("imagenes/imagenfixed.png");

  background-position: bottom;
  background-attachment: fixed;
  border-radius: 1%;
}

.opaco {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
}
/*tarjetas para cada categoria*/

#cat {
  width: 100%;
  height: 25vw;
  background: #e2e2e2;
  margin: auto;
  box-shadow: 2px 0 15px 0 #000;
  padding-top: 40px;
  margin-right: 20px;
  border-bottom: 4px #851d3cda solid;
  border-radius: 2%;
  text-align: center;
}

#cat:hover {
  height: 25vw;
  width: 120vw;
  padding: 50px 0px;
  background-color: #7a0e2ee0;
  cursor: url("imagenes/cursor\ \(1\).png"), auto;
  transition: 1.5s ease all;
}

.catButton {
  width: 20%;
  margin: auto;
  background: rgb(218, 55, 55);
  color: #fafafa;
  cursor: pointer;
  font-size: 0.87em;
  font-weight: bolder;
  border-radius: 35px;
  padding: 10px;
  margin-top: 20px;
  letter-spacing: 3px;
  text-align: center;
  box-shadow: 0 0 5px red;
  text-decoration: none;
}
.catButton:hover {
  background: rgb(219, 43, 43);
  color: #fafafa;
  box-shadow: 0 0 10px red;
  text-shadow: 0 0 2px #d8240ca9;
  border-bottom: 2px solid #d8240ca9;
  text-shadow: 0 0 3px #ffffff;
  margin-top: 40px;
}
#cat img {
  width: 15vw;
}
.catText {
  visibility: hidden;
}
#cat:hover .catText h3 {
  text-shadow: -3px 1px rgb(19, 17, 17);
}
#cat:hover .catText {
  visibility: visible;
  transition-delay: 0.6s;
  color: #fafafa;
}

.noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

#noticias h2 {
  color: #fafafa;
}
.noticia h3 {
  text-transform: uppercase;
  text-shadow: 0 0 2px #330612;
  text-align: center;
}
.noticia {
  width: 25%;
  margin: 10px;
  border: 1px solid #e92a2a44;
  padding: 15px;
  background-color: #d3d3d3;
  border-radius: 7px;
  box-shadow: 0 0 8px #494040;
  border-bottom: 8px #851d3cda solid;
  transition: 1s ease all;
}

.noticia img {
  width: 100%;
  height: 18vw;
  margin-bottom: 10px;
  border-radius: 2%;
}

.noticia-contenido {
  display: flex;
  flex-direction: column;
}

.noticia-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.noticia-fecha {
  font-size: 0.9rem;
  color: #888;
}
.noticia:hover {
  background: linear-gradient(
    to top,
    transparent 40%,
    #290610d3,
    transparent 20%
  );
  color: #d4d3d3;

  font-weight: bolder;
}
footer {
  width: 100%;
  height: 30vw;
  background-color: #1d1d1d;
  padding: 25px 0;
  border-bottom: 8px #851d3cda solid;
  color: #efefef;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footerContainer {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

body footer p {
  font-size: 12px;
  display: block;
}

body footer img {
  height: 200px;
  margin: auto;
}
/*-------------------------------------------*/

/*/
@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
*/
@media (max-width: 991px) {
  body {
    padding: 0px;
  }
  nav {
    height: 10%;
    width: 100%;
  }
  #buttonCat {
    padding: 20px;
    width: 40%;
  }

  .texto {
    top: 50%;
    margin-bottom: 15px;
  }

  .texto h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .texto p {
    font-size: 15px;
  }

  .nav li ul {
    display: none;
    position: fixed;
    min-width: 140px;
    top: 11%;
    left: 70%;
    background-color: #610d26;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  #cat:hover {
    height: 35vw;
    width: 160vw;
  }
}
