body {
  margin: 0;
  font-family: sans-serif;
  color: #ddd;
  background: linear-gradient(#8a2f3c, #161515);
  height: 100vh;
  /*(#222, #8a2f3c);*/
  /*background-color:#222;*/
}

.carrusel {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.imagenes {
  display: flex;
  transition: transform 0.5s ease;
}

.imagenes img {
  max-width: 100%;
  display: block;
  height: auto;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba (255, 255, 255, 1);
}

h1, h2 {
  text-align: center;
}
#nosotros, #noticias, #categorias {
  padding: 20px;
  text-align: center;
}

categoriascss{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categoria {
  margin: 10px;
}
